*{
	margin:	0;
	padding :0;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



		section{
			padding: 6em 0;
			font-size: 100%;
		}

header{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(D:/wamp/apps/blood/assets/css/k.jpg);
height: 100vh;
background-size: cover;
background-position: center;
}
.service-section{
	position: relative;
	width: 1200px;
	height: 10px;
	margin: 12px auto;
	background-size: cover;
	padding: 20px;

}


.logo a{
	position: absolute;
	margin-top: 2%;
	left:3% ;
	color: white;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
	margin-left: 6%;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color:whitesmoke;
	padding: 5px 20px;
	border: solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color:black;
	color:white;

}


.container .box
{position: relative;
	width: calc(400px - 30px);
	height: calc(300px - 30px);
	background: #000;
	float: left;
	margin:15px ;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 13px;
}
.section{
display: block;
margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    
}

.inner{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 10px;
overflow: hidden;
}
.horizontal-border{
	width: 1800px;
	height: 2px;
	background: rgb(133, 133, 139);
	margin: 50px auto;
	margin-top: 3em;
	margin-bottom: 5em;
}
.welcome-title{
	text-align: center;
	color:palegreen;
	text-transform: uppercase;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
	font-size: 50px;
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
	justify-content:center ;
	position: relative;

}
.flex-box{
	max-width: 40.33%;
	padding: 70px;
	text-align: center;
	color: rgb(218, 168, 168);
	cursor: pointer;
}
.vertical-border{
border-right: 2px solid gray;
height: 300px;

}

.box-icons{
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 3px solid papayawhip;
	color: rgb(114, 160, 116);
	transform: rotate(45deg);
	margin-bottom: 30px;
	margin-top: 16px;
}
.box-icons i{
	line-height: 70px;
	transform: rotate(-45deg);
	font-size: 26px;

}
.service-box:hover .service-icon{
	background: #ccdd;
	color: #ddd;
}
.service-title{
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;

}
#three h2{
	margin-top: 2em;
		margin-bottom: 2em;
	text-align: center;
	line-height: 1.5;
	color: white;
}
.reglink{
	color: rgb(114, 160, 116);
}

#three p{
	margin: 1em;
}
#three{
	background-image: url(D:/wamp/apps/blood/assets/css/p.jpg);
}
.w3-container{
	left: 2em;
}
.regform{
	border: 2px solid grey;
	border-radius: 1em;
	background-image: url(D:/wamp/apps/blood/assets/css/p.jpg);
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	width: 35%;
	height: 30%;
	max-width: 1200px;
	margin: auto;
	padding: 0 10px;
	size: 4em;
	position: left;
overflow: hidden;
color:white;
}
	
.name{
	border-radius: 1em;
	margin: 1em;
}
.namebox{width:30%;height: 1.5em;
border-radius: 1em;
}
.age{
	border-radius: 1em;
	margin: 1em;
}

.agebox{width:30%;height: 1.5em;
	border-radius: 1em;
	margin: 1em;
}


.radio-inline{
	margin: 1em;
}

.bg{
	border-radius: 1em;
	margin:1em;
}	
.selectbg{
	border-radius: 1em;
	margin:1em;	
}
.mobbox{
	border-radius: 1em;
	margin:1em;
}
.addbox{
	border-radius: 1em;
	margin:1em;
}
.submit{
	width: 5em;
	margin-right: 2em;
	margin:1em;
}
.reset{
	width: 5em;
	margin:1em;
}
.a{
	
	border: 2px;
	
}

